body {font-family: 'Fahkwang';}

.container-fluid {
    padding: 0px;
    overflow: hidden;
}

.row>* {
    padding-right: 0;
    padding-left: 0;
}

h6 {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #140D0C;
}

h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    color: #140D0C;
}

p {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 39px;
    color: #140D0C;
    width: 510px;
}

/* ============ Page 1 ==================================================================================================================================== */
.page-one {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-one__logo svg {
    margin-top: 48px;
}

.page-one__content {
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    flex-direction: column;
}

.page-one__content h6 {
    color: rgba(249, 242, 242, 0.48);
}

.page-one__content h5 {color: #F9F2F2;}

.page-one__content p {
    color: rgba(249, 242, 242, 0.64);
    width: 750px;
    position: relative;
    margin-bottom: 18.5vh;
}

.page-one__cv {
    margin-left: 8px;
    position: absolute;
    margin-top: 12px;
}

.page-one__arrow {
    margin-left: 50px;
    position: absolute;
    margin-top: 12px;
}

.page-one__scroll {
    margin-bottom: 32px;
    margin-bottom: 3vh;
}

/* ============ Page 2 ==================================================================================================================================== */
.page-two {
    height: 100vh;
    display: flex;
    align-items: center;
}

.page-two__content {
    margin-left: 120px;
    margin-right: 120px;
    flex-wrap: wrap-reverse;
}

.page-two__texts {margin: auto 0;}

.pointer {
    margin-left: 8px;
}

/* ============ Page 3 ==================================================================================================================================== */
.page-three {
    height: 100vh;
    display: flex;
    align-items: center;
}

.page-three__content {
    margin-left: 120px;
    margin-right: 120px;
    flex-wrap: wrap-reverse;
}

.page-three__texts {margin: auto 0;}

/* ============ Page 4 ==================================================================================================================================== */
.page-four {
    height: 100vh;
    display: flex;
    align-items: center;
}

.page-four__content {
    margin-left: 120px;
    margin-right: 92px;
    flex-wrap: wrap-reverse;
}

.page-four__texts {margin: auto 0;}

/* ============ Page 5 ==================================================================================================================================== */
.page-five {
    height: 100vh;
    display: flex;
    align-items: center;
}

.page-five__content {
    margin-left: 120px;
    margin-right: 120px;
    flex-wrap: wrap-reverse;
}

.page-five__texts {margin: auto 0;}

/* ============ Page 6 ==================================================================================================================================== */
.page-six {
    height: 100vh;
    display: flex;
    align-items: center;
}

.page-six__content {
    margin-right: 120px;
    margin-left: 120px;
    flex-wrap: wrap-reverse;
}

.page-six__texts {margin: auto 0;}

/* ============ Page 7 ==================================================================================================================================== */
.page-seven {
    height: 100vh;
    display: flex;
    align-items: center;
}

.page-seven__content {
    margin-right: 120px;
    margin-left: 120px;
    flex-wrap: wrap-reverse;
}

.page-seven__texts {margin: auto 0;}

/* ============ Page 8 ==================================================================================================================================== */
.page-eight {
    height: 100vh;
    display: flex;
    align-items: center;
}

.page-eight__content {
    margin-left: 120px;
    margin-right: 120px;
    flex-wrap: wrap-reverse;
}

.page-eight__texts {margin: auto 0;}

/* ============ Page 9 ==================================================================================================================================== */
.page-nine {
    height: 100vh;
    display: flex;
    align-items: center;
}

.page-nine__footer {
    padding-left: 120px;
    padding-right: 120px;
}

.page-nine__footer h1 {
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 42px;
    color: #F9F2F2;
    margin-bottom: 32px;
}

.page-nine__footer h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 94px;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #F9F2F2;
    margin-bottom: 120px;
    color: #140D0C;
}

.page-nine__footer h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    color: #F9F2F2;
    margin-bottom: 16px;
}

.page-nine__footer h4 {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 38px;
    color: #FE5900;
    margin-bottom: 64px;
}

.page-nine__networks p {
    margin-right: 48px;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 38px;
    color: #FE5900;
    margin-bottom: 129px;
    text-decoration: underline;
    width: 96px;
}

.page-nine__footer h5 {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: rgba(249, 242, 242, 0.64);
    margin-bottom: 47px;
}

.page-nine__footer h6 {
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: rgba(249, 242, 242, 0.64);
}

/* =========== Media Querie 1340 ======================================================================================================================== */

@media screen and (max-width: 1340px){
    p {width: 570px;}

    .page-two__content, .page-three__content, 
    .page-four__content, .page-five__content, 
    .page-six__content, .page-seven__content, 
    .page-eight__content {justify-content: center !important;}

    .page-two__texts, .page-three__texts, 
    .page-four__texts, .page-five__texts, 
    .page-six__texts, .page-seven__texts, 
    .page-eight__texts {margin-top: 16px;}
}

/* =========== Media Querie 850 ======================================================================================================================== */

@media screen and (max-width: 850px) {
    .page-two__content, .page-three__content,
    .page-four__content, .page-five__content,
    .page-six__content, .page-seven__content,
    .page-eight__content {margin: 24px;}
    
    .page-nine__footer {padding: 185px 13px 64px 24px;}

    .page-nine__footer h1 {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 16px;
    }

    .page-nine__footer h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 31px;
        margin-bottom: 64px;
        -webkit-text-stroke-width: 0.4px;
    }

    .page-nine__footer h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 8px;
    }

    .page-nine__footer h4 {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 32px;
    }

    .page-nine__networks p {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        margin-right: 8px;
        text-decoration: none;
        margin-bottom: 64px;
        min-width: 60px;
    }
}

/* =========== Media Querie 635 ======================================================================================================================== */

@media screen and (max-width: 635px) {
    .page-one__content {
        padding-right: 60px;
        padding-left: 60px;
    }

    .details {width: 82px; height: 29px;}

    img {width: 100%; min-width: 327px;}
    h6 {font-size: 14px;}
    h5 {font-size: 25px;}

    p {
        width: 100%;
        min-width: 327px;
        font-size: 19px;
        line-height: 30.74px;
    }

    .page-two__texts, .page-three__texts,
    .page-four__texts, .page-five__texts,
    .page-six__texts, .page-seven__texts,
    .page-eight__texts {width: 100%; min-width: 327px;}

    .soon {
        width: 38px;
        height: 29px
    }

    .pointer {
        width: 14px;
        height: 14px;
        margin-left: 7px;
    }
}

/* =========== Media Querie 565 ======================================================================================================================== */

@media screen and (max-width: 565px) {
    .page-one__content {
        padding-left: 35px;
        padding-right: 35px;
    }
    
    .page-one__content h6 {
        font-size: 14px;
        line-height: 18.5px;
    }

    .page-one__content h5 {
        font-size: 25px;
        line-height: 32.5px;
    }

    .page-one__content p {
        font-size: 19px;
        line-height: 31px;
    }

    .page-one__cv {
        width: 23px;
        height: 29px;
        margin-top: 3px !important;
    }

    .page-one__arrow {
        width: 14px;
        height: 14px;
        margin-left: 40px !important;
        margin-top: 11px !important;
    }
}

/* =========== Media Querie 376 ======================================================================================================================== */

@media screen and (max-width: 376px) {
    h6 {
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 8px;
    }

    h5 {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 8px;
    }

    p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 23px;
        margin-bottom: 8px;
    }

    img {border-radius: 4px;}

    .page-one__logo svg {width: 40px; height: 40px;}

    .page-one__content p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 23px;
        width: 327px;
        height: 114px;
        color: rgba(249, 242, 242, 0.6);
        margin-bottom: 62px;
    }

    .page-one__cv {margin-top: -3px !important;}
    .page-one__arrow {margin-top: 4px !important;}
    .page-one__scroll {margin-bottom: 32px;}
    .page-one__scroll svg {width: 71px; height: 44px;}

    .page-two, .page-three, 
    .page-four, .page-five, 
    .page-six, .page-seven, 
    .page-eight, .page-nine {height: 100vh;}

    .page-one__content {padding-left: 24px; padding-right: 24px;}
    .page-two__content, .page-five__content {margin: 24px;}
    .page-three__content, .page-six__content, .page-seven__content {margin: 24px 24px 47px 24px;}
    .page-four__content, .page-eight__content {margin: 24px 24px 69px 24px;}

    .page-two__content img, .page-three__content img, 
    .page-four__content img, .page-five__content img, 
    .page-six__content img, .page-seven__content img, 
    .page-eight__content img {width: 327px; height: 420px;}

    .page-two__texts, .page-five__texts {
        margin-top: 8px;
        width: 327px;
        height: 183px;
    }

    .page-three__texts, .page-six__texts, .page-seven__texts {
        margin-top: 8px;
        width: 327px;
        height: 160px;
    }

    .page-four__texts, .page-eight__texts {
        margin-top: 8px;
        width: 327px;
        height: 138px;
    }

    .page-nine__footer h5 {
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 16px;
        width: 297px;
    }
}
